@mixin vertical-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@mixin text-input {
    height: 3rem;
    width: 60%;
    padding-left: 2rem;
    border: 0.1rem solid $grey-primary;
    border-radius: 0.2rem;
    background-color: $grey-secondary;
    font-size: 2rem;
}

@mixin addTask {
    margin: 0;
    padding: 0;
    border: hidden;
    background: none;
    color: $text-light;

    &::placeholder {
        color: $text-light;
    }
}
