@mixin vertical-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@mixin login-text {
    margin-top: 3rem;
}

@mixin login-button {
    margin-top: 3rem;
}
