$grey-primary: #707070;
$grey-secondary: #e6e6e6;
$background-secondary: #ffffff;
$text-light: #ffffff;
$background-accent-grad: linear-gradient(149deg, rgba(148,6,106,1) 0%, rgba(199,142,8,1) 74%, rgba(193,51,51,1) 100%);
$gradient-accent: linear-gradient(149deg, rgba(148, 6, 106, 1) 0%, rgba(193, 51, 51, 1) 100%);
$ui-dark: #000000;
$ui-todo: #7fb7dc;
$ui-shopping-list: #eeac4a;
$ui-meal-planner: #ff6e6e;