$grey-primary: #707070;
$grey-secondary: #e6e6e6;
$background-secondary: #ffffff;
$background-accent-grad: linear-gradient(149deg, rgba(148,6,106,1) 0%, rgba(199,142,8,1) 74%, rgba(193,51,51,1) 100%);
