* {
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 1px solid red;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.icon {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    text-align: center;
    color: white;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 2.5rem;
        font-weight: bolder;
    }

    &.--yellow {
        background: $ui-yellow;
        background: gradient($ui-yellow, 25%);
    }

    &.--green {
        background: $ui-green;
        background: gradient($ui-green, 25%);
    }

    &.--blue {
        background: $ui-blue;
        background: gradient($ui-blue, 25%);
    }

    &.--purple {
        background: $ui-purple;
        background: gradient($ui-purple, 25%);
    }

    &.--red {
        background: $ui-red;
        background: gradient($ui-red, 25%);
    }

    &.--not-selected {
        background: $grey-primary;
        background: gradient($grey-primary, 25%);
    }
}