/* Error: Missing argument $color.
 *   ,--> src/components/_app.scss
 * 117|                 background-color: darken();
 *   |                                   ^^^^^^^^ invocation
 *   '
 *   ,--> sass:color
 * 1 | @function darken($color, $amount) {
 *   |           ======================= declaration
 *   '
 *   src/components/_app.scss 117:35  @import
 *   src/main.scss 6:75               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $color.\a   \250c \2500 \2500 > src/components/_app.scss\a 117\2502                  background-color: darken();\a   \2502                                    ^^^^^^^^ invocation\a   \2575 \a   \250c \2500 \2500 > sass:color\a 1 \2502  @function darken($color, $amount) {\a   \2502            \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   src/components/_app.scss 117:35  @import\a   src/main.scss 6:75               root stylesheet";
}
