.app {
    background-color: $grey-secondary;
    width: 100vw;
    height: 100vh;
    max-width: 100%;

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        "left-nav page-head"
        "left-nav apps";

    .left-nav {
        grid-area: left-nav;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        background-color: $background-secondary;
        box-shadow: 4px 1px 8px 1px rgba(0, 0, 0, 0.33);

        .--nav-item {
            transition: 0.5s;
            width: 4rem;
            margin: 1rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
        }

        &__signout {
            background-image: url(./images/logout.svg);
            background-repeat: no-repeat;
            background-position: center top;
            background-attachment: fixed;
            background-size: cover;
        }

        &__signout {
            &:hover {
                background-color: lighten($ui-dark, 90%);
            }
        }

        &__todo {
            &:hover {
                background-color: lighten($ui-todo, 25%);
            }
        }

        &__shopping-list {
            &:hover {
                background-color: lighten($ui-shopping-list, 25%);
            }
        }

        &__meal-planner {
            &:hover {
                background-color: lighten($ui-meal-planner, 25%);
            }
        }

        &__settings {
            &:hover {
                background-color: lighten($ui-dark, 90%);
            }
        }
    }

    &__header {
        grid-area: page-head;
        display: flex;

        & .--title {
            color: $grey-primary;
            padding: 1rem;
            font-size: 3rem;
        }
    }

    .widgets {
        grid-area: apps;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;

        .todo {
            margin: 0 1rem 1rem 1rem;
            width: 30rem;
            // height: 100%;
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: min-content 100%;
            grid-template-areas:
                "title alert"
                "todo-list todo-list";
            background-color: $ui-todo;
            border-radius: .5rem;

            &__title {
                grid-area: title;
                padding: .5rem;
                font-size: 2.5rem;
                color: $text-light
            }

            &__alert {
                grid-area: alert;
                width: 100%;
                height: 100%;
                background-color: darken($ui-todo, 10%);
                border-radius: 0 .5rem 0 1rem;
            }

            &__list {
                grid-area: todo-list;
            }
        }
    }
}
