.app {
    background-color: $grey-secondary;
    width: 100vw;
    height: 100vh;
    max-width: 100%;

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        "left-nav page-head"
        "left-nav apps";

    .left-nav {
        grid-area: left-nav;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        background-color: $background-secondary;
        box-shadow: 4px 1px 8px 1px rgba(0, 0, 0, 0.33);

        .--nav-item {
            transition: 0.5s;
            width: 4rem;
            margin: 1rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
        }

        &__signout {
            &:hover {
                background-color: lighten($ui-dark, 90%);
            }
        }

        &__todo {
            &:hover {
                background-color: lighten($ui-todo, 25%);
            }
        }

        &__shopping-list {
            &:hover {
                background-color: lighten($ui-shopping-list, 25%);
            }
        }

        &__meal-planner {
            &:hover {
                background-color: lighten($ui-meal-planner, 25%);
            }
        }

        &__settings {
            &:hover {
                background-color: lighten($ui-dark, 90%);
            }
        }
    }

    &__header {
        grid-area: page-head;
        display: flex;

        & .--title {
            color: $grey-primary;
            padding: 1rem;
            font-size: 3rem;
        }
    }

    .widgets {
        grid-area: apps;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;

        .todo {
            margin: 0 1rem 1rem 1rem;
            width: 35rem;
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: min-content 100%;
            grid-template-areas:
                "title alert"
                "todo-list todo-list";
            background-color: $ui-todo;
            border-radius: 0.5rem;

            &__title {
                grid-area: title;
                padding: 0.5rem;
                font-size: 2.5rem;
                color: $text-light;
            }

            &__alert {
                grid-area: alert;
                width: 100%;
                height: 100%;
                background-color: darken($ui-todo, 10%);
                border-radius: 0 0.5rem 0 1rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

            &__add-button {
                width: 4rem;
                padding: 0.5rem;
                margin-left: auto;
            }

            &__count {
                color: $text-light;
                font-size: 2rem;
                margin: 0.5rem;
            }

            &__status {
                width: 2rem;
                height: 2rem;
                border: solid $background-secondary 0.1rem;
                border-radius: 4rem;
                margin: 0.5rem;

                &.--ok {
                    background-color: $ui-success;
                }

                &.--meh {
                    background-color: $ui-in-progress;
                }

                &.--overdue {
                    background-color: $ui-error;
                }
            }

            .list {
                grid-area: todo-list;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: stretch;

                .input {
                    display: grid;
                    grid-template-columns: min-content 1fr 1fr;
                    grid-template-rows: min-content min-content min-content;
                    grid-template-areas:
                        "taskIn taskIn taskIn"
                        "dueDate dueDate dueDate"
                        "icons icons icons";

                    padding: 0.5rem 1rem 0.5rem 1rem;
                    margin: 0;

                    &__task {
                        grid-area: taskIn;
                        @include addTask;
                        font-size: 2rem;
                    }

                    &__dueDate {
                        grid-area: dueDate;
                        @include addTask;
                        font-size: 1.5rem;
                    }

                    &__icons {
                        width: 100%;
                        grid-area: icons;
                        height: 3.5rem;
                        display: flex;
                        flex-direction: row;

                        .createIcon {
                            padding: 0;
                            margin: 0.5rem 0.5rem 0.5rem 0;
                            width: 2.5rem;
                            height: 2.5rem;

                            p {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }

                .item {
                    display: grid;
                    grid-template-columns: 3.5rem 1fr 1fr;
                    grid-template-rows: min-content min-content min-content;
                    grid-template-areas:
                        "task task task"
                        "check due due"
                        "icons icons icons";

                    padding: 0.5rem 1rem 0.5rem 1rem;
                    margin: 0;

                    &__task {
                        font-size: 2rem;
                        color: $text-light;
                        grid-area: task;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    }

                    &__due {
                        grid-area: due;
                        color: $text-light;
                        font-size: 1.5rem;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    }

                    &__check {
                        grid-area: check;
                        background-color: $ui-error;
                        height: 2.5rem;
                        width: 2.5rem;
                        border: solid 0.2rem $background-secondary;
                        border-radius: 4rem;
                    }

                    &__icons {
                        width: 100%;
                        grid-area: icons;
                        height: 3.5rem;
                        display: flex;
                        flex-direction: row;

                        .icon {
                            padding: 0;
                            margin: 0.5rem 0.5rem 0.5rem 0;
                            width: 2.5rem;
                            height: 2.5rem;

                            p {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
