.fam-reg {
    width: 100vw;
    height: 100vh;
    max-width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        ". . ."
        ". form ."
        ". . .";

    background: $gradient-accent;
    text-align: center;

    &__form {
        grid-area: form;
        width: 100%;
        height: 100%;
        background-color: $background-secondary;
        border-radius: 1rem;
        box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.4);
    }

    .select {
        height: 100%;
        width: 100%;

        .cards {
            display: flex;
            flex-wrap: wrap;
            align-content: stretch;

            .--card {
                margin: 1rem;
                flex: 1;
                border: solid $grey-primary 0.2rem;
                border-radius: 1rem;
                padding: 1rem;
                min-width: 7rem;
                transition: 0.5s;

                &:hover {
                    border-color: $ui-hover-accent;
                }
            }

            img {
                width: 75%;
            }
        }
    }

    .create {
        height: 100%;
        width: 100%;

        .--text-input {
            @include text-input;
            margin: 3rem;
        }

        &__submit {
            background: $gradient-accent;
            padding: 1rem 5rem;
            border-radius: 10rem;
            border: 0.1rem solid $grey-primary;
            background-color: $grey-secondary;
            color: $text-light;
            font-weight: bolder;
            font-size: 2rem;
        }
    }

    h1 {
        font-size: 4rem;
        padding: 1rem;
    }

    h2 {
        font-size: 2.5rem;
        padding: 1rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.6rem;
    }

    .join {
        height: 100%;
        width: 100%;

        .--text-input {
            @include text-input;
            margin: 3rem;
        }

        &__submit {
            background: $gradient-accent;
            padding: 1rem 5rem;
            border-radius: 10rem;
            border: 0.1rem solid $grey-primary;
            background-color: $grey-secondary;
            color: $text-light;
            font-weight: bolder;
            font-size: 2rem;
        }
    }

    h1 {
        font-size: 4rem;
        padding: 1rem;
    }

    h2 {
        font-size: 2.5rem;
        padding: 1rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.6rem;
    }
}

// For Phones
@media (max-width: 768px) {
    .fam-reg {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr 4fr 1fr;
        grid-template-areas:
            ". . ."
            ". form ."
            ". . .";
    }
}

@media (max-width: 813px) {
    .fam-reg {
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        grid-template-rows: 1fr 4fr 1fr;
        grid-template-areas:
            ". . ."
            ". form ."
            ". . .";

        .cards {
            display: flex;
            flex-wrap: wrap;
            align-content: stretch;

            .--card {
                img {
                    width: 40%;
                }
            }
        }
    }
}

@media (max-width: 812px) {
    .fam-reg {
        display: grid;
        grid-template-columns: 1fr 7fr 1fr;
        grid-template-rows: 1fr min-content 1fr;
        grid-template-areas:
            ". . ."
            ". form ."
            ". . .";
    }
}

@media (max-width: 395px) {
    .fam-reg {
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        grid-template-rows: 1fr min-content 1fr;
        grid-template-areas:
            ". . ."
            ". form ."
            ". . .";

        .cards {
            display: flex;
            flex-wrap: wrap;
            align-content: stretch;
            flex-direction: column;

            .--card {
                img {
                    width: 40%;
                }
            }
        }
    }
}
