.login {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    grid-template-areas: "text buttons";

    &__text {
        @include vertical-flex;

        & .--login-text {
            margin-top: 3rem;
            height: 3rem;
            width: 60%;
            padding-left: 2rem;
            border: 0.1rem solid $grey-primary;
            border-radius: 0.2rem;
            background-color: $grey-secondary;
        }
    }

    &__buttons {
        grid-area: buttons;
        @include vertical-flex;

        background-image: linear-gradient(149deg, rgba(148, 6, 106, 1) 0%, rgba(193, 51, 51, 1) 100%);

        & .--login-button {
            margin-top: 3rem;
            padding: 1rem 5rem;
            border-radius: 1rem;
            border: 0.1rem solid $grey-primary;
            background-color: $background-secondary;
            color: $grey-primary;
            font-weight: bolder;
            font-size: 2rem;
        }
    }
}
