.login {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    grid-template-areas: "text buttons";

    &__text {
        @include vertical-flex;

        & .--login-text {
            margin-top: 3rem;
            height: 3rem;
            width: 60%;
            padding-left: 2rem;
            border: 0.1rem solid $grey-primary;
            border-radius: 0.2rem;
            background-color: $grey-secondary;
            font-size: 2rem;
        }

        & .--left {
            background: $gradient-accent;
            margin-top: 3rem;
            padding: 1rem 5rem;
            border-radius: 10rem;
            border: 0.1rem solid $grey-primary;
            background-color: $grey-secondary;
            color: $text-light;
            font-weight: bolder;
            font-size: 2rem;
        }
    }

    &__buttons {
        grid-area: buttons;
        @include vertical-flex;

        background-image: $gradient-accent;

        & .--right {
            background: none;
            margin-top: 3rem;
            padding: 1rem 5rem;
            border-radius: 10rem;
            border: 0.1rem solid $text-light;
            background-color: $gradient-accent;
            color: $text-light;
            font-weight: bolder;
            font-size: 2rem;
        }

    }
}